
body{
  margin: 0px;
  overflow-x: hidden;
  overflow-y: scroll;

}
.container{
float: center;
margin: auto;
width:fit-content;


}


#poster {
  font-family: 'Arial, sans-serif';
  background-image: url(/happiness1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


#course-title{
  position: absolute;
  text-align: center;
  left: 5%;
  top: 17%;
  line-height: 1.1;
  width: 200px;
  color: hsl(128, 54%, 37%);
  
}

#subtitle {
  position: absolute;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 14px;
  width: 200px;
  font-size: 15px;
  top: 52%;
  left: 24%;
  transform: translate(-50%, -50%);
  color: hsl(128, 54%, 37%);
  margin: 0px;
  padding: 0px;
   
}
#Teachersname {
  position: absolute;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 10px;
  font-size: 10px;
  width: 200px;
  top: 62%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: hsl(0, 0%, 0%);
  margin: 0px;
  padding: 0px;
   
}

#link{
  text-align: center;
  position: absolute;
  line-height: 0.8;
  width: 200px;
  font-size: 15px;
  top: 62%;
  left: 31%;
  transform: translate(-50%, -50%);
  color: hwb(0 100% 0%);
  margin: 0px;
  font-family:Arial, Helvetica, sans-serif;
  padding: 0px;

}



#date {
  text-align: center;
  position: absolute;
  line-height: 0.8;
  width: 100px;
  bottom: 5%;
  font-size: 15px;
  left: 15%;
  transform: translate(-50%, -50%);
  color: hwb(0 95% 5%);
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
   
}

#time {
  text-align: center;
  position: absolute;
  line-height: 0.8;
  width: 100px;
  bottom: 5%;
  font-size: 15px;
  left: 40%;
  transform: translate(-50%, -50%);
  color: hwb(0 95% 5%);
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
   
}
#contact {
  text-align: center;
  position: absolute;
  line-height: 0.8;
  font-size: 15px;
  width: 100px;
  bottom: 5%;
  left: 64%;
  transform: translate(-50%, -50%);
  color: hwb(0 95% 5%);
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
   
}

#venue {
  text-align: center;
  position: absolute;
  line-height: 16px;
  font-size: 15px;
  width: 100px;
  bottom: 1%;
  left: 89%;
  transform: translate(-50%, -50%);
  color: hwb(0 95% 5%);
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
   
}


#button{
 
 background-color: green;
 color: white;
 height: 40px;
 width: 200px;
 border-radius: 20px;
}


.firstdiv
{
float: left;
margin-top: 20px;
}




/* form css */

.form-container {
  background-color: white;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: fit-content;
  box-sizing: border-box; 
  margin: 10px;
 border-color: #ff0000;

  float:left;
 
}

form {
  display: flex;
  border-color: #ff0000;
  flex-direction: column;
}

label {
  margin: 10px;
  font-size: 14px;
  text-align: left;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  height: 30px;
  margin-top: 5px;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}
.form-container h1{
  margin:10px
}




/* second poster */




#poster1 {
  font-family: 'Arial, sans-serif';
  background-image: url(/hp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


#subtitle {
  position: absolute;
  text-align: center;
  
  font-family:Arial, Helvetica, sans-serif;
  line-height: 14px;
  width: 200px;
  top: 52%;
  left: 24%;
  transform: translate(-50%, -50%);
  color: hsl(128, 54%, 37%);
  margin: 0px;
  padding: 0px;
   
}
#Teachersname1 {
  position: absolute;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 12px;
  font-size: 12px;
  width: 200px;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: hsl(0, 0%, 0%);
  margin: 0px;
  padding: 0px;
   
}

#link{
  text-align: center;
  position: absolute;
  line-height: 0.8;
  width: 200px;
  top: 62%;
  left: 31%;
  transform: translate(-50%, -50%);
  color: hwb(0 100% 0%);
  margin: 0px;
  font-family:Arial, Helvetica, sans-serif;
  padding: 0px;

}



#date1 {
  text-align: center;
  position: absolute;
  line-height: 0.8;
  font-size: medium;
  width: 200px;
  bottom: 55%;
  left: 72%;
  transform: translate(-50%, -50%);
  color: hwb(0 100% 0%);
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
   
}

#time1 {
  text-align: center;
  position: absolute;
  line-height: 0.8;
  width: 100px;
  font-size: 17px;
  bottom: 2.5%;
  left: 82%;
  transform: translate(-50%, -50%);
  color: hwb(0 95% 5%);
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
   
}
#contact1 {
  text-align: center;
  position: absolute;
  line-height: 0.8;
  width: 400px;
  bottom: 10%;
  font-size: 16px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hwb(0 95% 5%);
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
   
}

#venue1 {
  text-align: center;
  position: absolute;
  line-height: 16px;
  width: 100px;
  font-size: 17px;
  top: 95%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: hwb(0 95% 5%);
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
   
}


#button{
 
 background-color: green;
 color: white;
 height: 40px;
 width: 200px;
 border-radius: 20px;
}


.firstdiv
{
float: left;
margin: auto;
margin-top: 20px;
}
.cf{
  align-items: center;
}
.card
{
  width: 18rem;
  height: 22rem;
  text-align: center;
  margin: 1%;
  float: left;
 

 
}

.texthero h1{
  text-align: center;
  color: hwb(0 100% 0%);
  font-family: Impact, fantasy;
}

.texthero p{
  text-align: center;
  color: hwb(0 100% 0%);
  font-family: Arial, Helvetica, sans-serif;
}


.niceh1{
  color:#3d3d3d;;

  text-align: center;
font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(255, 255, 255);
font-size: 26px;
/* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */

}
.dd{
  color: #14ff91;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.dd1{
  color: #ffffff;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
background-color: #ff0000;
}


.cclp{

  align-items: center;
  color: #3b3b3b;

}
h4{
  color: #ffffff;
  
}

.editor
{
  font-size: 50px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}


/* followup */

#datef {
  text-align: center;
  position: absolute;
  line-height: 0.8;
  width: 200px;
  font-size: 15px;
  bottom: 10.5%;
  left: 72.5%;
  transform: translate(-50%, -50%);
  color: hwb(0 100% 0%);
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
   
}

#timef {
  text-align: center;
  position: absolute;
  line-height: 0.8;
  width: 100px;
  font-size: 15px;
  bottom: 6.5%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: hwb(0 100% 0%);
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
   
}
#teachersnamef {
  position: absolute;
  text-align: center;
  font-family:'poppins';
  line-height: 12px;
  font-size: 20px;
  width: 200px;
  bottom: 60%;
  left: 51%;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  color: #716d5d;
  margin: 0px;
  padding: 0px;
   
}
#posterf {
  font-family: 'poppins';
  background-image: url(/followup1.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}







#posteranand {
  font-family: 'gotham';
  background-image: url(/peditor.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  image-resolution: from-image;
image-resolution: 300dpi;

}
#linkanand {
  text-align: center;
  position: absolute;
  line-height: 1;
  width: 100%;
  font-size: 15px;
  text-align: left;
  top: 87.8%;
  left: 74%;
  transform: translate(-50%, -50%);
  color: #1089a0;
  margin: 0px;
  padding: 0px;
  font-family:'gotham';
  font-weight: bold;
   
}
#dateanand {
  text-align: center;
  position: absolute;
  line-height: 0.8;
  width: 200px;
  font-size: 12px;
  bottom: 30%;
  left: 77%;
  transform: translate(-50%, -50%);
  color: #587277;
  margin: 0px;
  padding: 0px;
  font-family:'Gotham';
  letter-spacing: -0.1px;
   
}
#timeanand {
  text-align: center;
  position: absolute;
  line-height: 0.8;
  width: 200px;
  font-size: 12px;
  bottom: 27%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: #587277;
  margin: 0px;
  padding: 0px;
  font-family:'Gotham';
  letter-spacing: -0.1px;
   
}
#teachersnameanand {
  position: absolute;
  text-align: center;
  font-family:'Poppins';
  line-height: 12px;
  font-size: 15px;
  width: 200px;
  bottom: 38.5%;
  left: 74%;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  color: #1089a0;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
   
}
#contactanand
{
  text-align: center;
  position: absolute;
  line-height: 0.8;
  width: 200px;
  font-size: 12px;
  bottom: 24%;
  left: 76%;
  transform: translate(-50%, -50%);
  color: #587277;
  margin: 0px;
  padding: 0px;
  font-family:'Gotham';
  letter-spacing: -0.1px;
   
}

#venueanand {
  text-align: center;
  position: absolute;
  line-height: 16px;
  font-size: 16px;
  width: 100%;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hwb(0 95% 5%);
  margin: 0px;
  padding: 0px;
  font-family:'Poppins';
  letter-spacing: -0.1px;
  /* word-spacing: -2px; */

   
}





/* happiness4 */


#date4 {
  text-align: center;
  position: absolute;
  line-height: 0.8;
  width: 200px;
  font-size: 15px;
  bottom: 1%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: hwb(0 100% 0%);
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
   
}

#link4 {
  text-align: center;
  position: absolute;
  line-height: 1;
  width: 150px;
  font-size: 15px;
  text-align: left;
  top: 35%;
  left: 16.5%;
  transform: translate(-50%, -50%);
  color: hwb(340 5% 31%);
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
   
}

#contact4
{
  text-align: center;
  position: absolute;
  line-height: 0.8;
  width: 200px;
  font-size: 15px;
  bottom: 1%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: hwb(0 100% 0%);
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
}
#teachersname4 {
  position: absolute;
  text-align: center;
  font-family:'Arial, Helvetica, sans-serif';
  line-height: 12px;
  font-size: 15px;
  width: 200px;
  bottom: 20%;
  left: 15%;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  color: #716d5d;
  margin: 0px;
  padding: 0px;
   
}
#poster3 {
  font-family: 'poppins';
  background-image: url(/hppp.jpg);
  
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

:root {
  scroll-behavior: smooth;
}

/* footer */

ul {
  margin: 0px;
  padding: 0px;
}



.footer-section {
 background-color: rgb(240, 240, 240);
position: relative;
float: none;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #000000;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}


.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #5e3a3a;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #614343;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}

.footer-widget-heading h3 {
color: #000000;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: transparent;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}

.copyright-area{
 background-color: rgb(240, 240, 240);;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;

}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

.ntabs
{
  background-color: #f0f0f0;
  
}


.productsection
{
  background-color: #ccc;
}
.productsection h4{
  color: #532607;

}